html {
  background-color: #efefef; 
}
.App {
  text-align: center;
  font-size: 18px;  
  background-color: #efefef; 
  }

.btn-primary:first-of-type {
  font-size: 24px;
  padding-top: 20px; 
  width: 90%;
  }

.row div {
  font-size: 18px;
}

.search {
  width: 90%;
  margin: 0 auto;
}

#appointmentList button {
  width: 50%;
  max-width: 200px;
  height: 45px;
  margin-bottom: 8px;
  font-size: 18px;
}
h3 {
  margin-top: 48px;
  font-weight: 700;
}

.directions {
  text-align: left;
}
hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.col-xs-6 {
  margin-top: 12px;
  font-weight: 700;
}

.appointment {
  margin: 24px auto;
  width: 95%;
  max-width: 900px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#appointmentList p {
  text-align: left;
  width: 90%;
  margin: 16px auto;
}

.panel-default {
  border: none;
}