.App {
  text-align: center;
  font-size: 18px; }

.btn-primary:first-of-type {
  font-size: 24px;
  padding-top: 20px; }

.row div {
  font-size: 18px;
}

#appointmentList button {
  width: 50%;
  max-width: 200px;
  height: 45px;
  margin-bottom: 12px;
}
h3 {
  font-weight: 700;
}
hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.col-xs-6 {
  margin-bottom: 12px;
  font-weight: 700;
}
#appointmentList p {
  text-align: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
